[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
responder = "*"
wordcloud = "*"
uvicorn = ">=0.11.7"
gunicorn = "*"
mecab-python3 = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
